{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сброс пароля</title>
</head>
<body>
    <div style="text-align: center;">
        <img src="https://mkey.top/static/deps/favicon/mkey.png" alt="Логотип" style="width: 100px; height: 100px;">
        <h1>Дорогой игрок!</h1>
        <p>Мы сбросили тебе пароль, чтобы ты и дальше мог заглядывать к нам в магазин.</p>
        <p>Вот твой новый пароль: <strong>{{ new_password }}</strong></p>
        <p>С Уважением,<br>Техническая поддержка MKEY</p>
    </div>
</body>
</html>